@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

:root {
    font-family: 'Merriweather', serif;
    --main-color: white;
    --secondary-color: #d60307;
    --third-color: black;
    --fourth-color: #555;
    --fifth-color: #222323;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
ul {
  list-style-type: none;
  
}
header .menu a {
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 3px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    flex-direction: row;
}
.header-bottom {
    box-sizing: content-box;
    padding: 15px 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--fifth-color)     
}
header .banner {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    flex-direction: row;
}
header .home{
    background-image: url(../img/logo.svg);
    background-size: cover;
    display: flex;
    width: 210px;
    height: 49px;
   
}
.products-list {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 3fr 3fr;
}

.header_banner{
  background-image: url(../img/banner.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px ;
}

.header_banner_title {
  color: var(--fourth-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.header_banner_secondtitle {
  font-family: "Merriweather", sans-serif;
  font-size: 112px;
  color: var(--fifth-color);
  font-weight: 400;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.header_banner_secondtitle span {
  color: var(--secondary-color);
}

.header_banner_button {
   display: flex;
   align-items: center;
    justify-content: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  width: 160px;
  height: 60px;
  background-color: var(--secondary-color);
  
}

.header_banner_button:hover {
  background-color: #222323;
  cursor: pointer;
}

.main_box {
 display: flex;
 grid-template-columns: 1fr 1fr 1fr;
 padding: 80px;
 grid-gap: 30px;  
 justify-content: center; 
}
.main_box_minorone {
 background-image: url(../img/new-arrivals-bg.jpg);
 background-size: cover;
 display: block;
 width: 570px;
 height: 375px;
 
 
}

.main_box_minor {
 background-image: url("../img/trainers-bg.png");
 background-size: cover;
 display: block;
 width: 270px;
 height: 375px;
 
}
.main_box_minortwo {
 background-image: url("../img/hot-sale-bg.png");
 background-size: cover;
 display: block;
 width: 270px;
 height: 375px;
}
.button_box {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color:var(--fifth-color);

  text-align: center;
  outline: none;
  text-decoration: none;
}
.button_box:hover,
.button_box:active {
  
  color: var(--main-color);
}
.minibox{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.minibox{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.frame{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.circle{
    display: flex;
    justify-content: center;
}
.frame p{
    text-align: center;
    font-size: 14px;
    color: var(--fourth-color);
}
.frame h5{
    text-align: center;
    font-size: 20px;
    
}
h6{
    font-size: 24px;
    color: var(--fourth-color);
    font-weight: 400;
    margin: 15px 0;
}

.benefits{
    padding-top: 40px;
    gap: 50px;
}



hr {
    height: 2px;
    width: 18%;
    background-color: #f40106;
 border: 0;
 
} 
.box_1 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_2 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_3 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_1 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box_2 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box_3 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box hr  {
 margin-left: 15px;
}
.box p{
    margin-left: 15px;
}
.box button {
    margin-left: 15px;
}
.main_infobox {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 100px;
  padding-bottom: 0;
}
.main_left{
  background-image: url("../img/about.jpg");
  background-size: cover;
}
.main_right{
  background-color: var(--fifth-color);
  padding: 120px 120px 40px 120px;
  display: flex;
 font-family: 'Hind Madurai', sans-serif;
  justify-content: center;
  flex-direction: column;
}
.main_right p{
    color: var(--main-color);
    padding: 30px;
    font-size: 15px;
}
.main_right h5{
    color: var(--main-color);
    padding: 30px;
    font-size: 20px;
}
.main_right hr{
    display: flex;
    
}
.main_right h4{
    color: var(--main-color);
    padding: 30px;
    font-size: 30px;
}
.main_baner{
  display: flex;
justify-content: space-between;
  max-width: 140px;
  padding: 0;
}
.main_all_product{
    padding: 10px;
}
.main_text_product h2{
display: flex;
justify-content: center;
margin-bottom: 15px;
}
.main_text_product p{
display: flex;
justify-content: center;
font-size: 15px;
text-align: center;
margin-bottom: 30px;
color: var(--fourth-color);
}
.products-list{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
 grid-template-rows: 4fr;
 padding: 20px;
}
.products{
    padding: 10px;
   
}
.product_butom{
   display: flex;
   align-items: center;
    justify-content: center;
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  width: 120px;
  height: 50px;
  background-color: var(--fifth-color);
  
}
.product_butom:hover{
  background-color: var(--secondary-color);
  cursor: pointer;
}
.footer{
    background-color: var(--fifth-color);
}
.footer_info{
  display: grid;
    grid-template-columns:  1fr 1fr 1fr;
 grid-template-rows: 3;
 padding: 60px 300px 150px 300px;
}
.footer_box_two h2{
    padding-bottom: 10px;
    color: var(--main-color);

}
.footer_box_two li{
     padding-bottom: 10px;
    padding-top: 10px;

}
.footer_box_two a{
    color: var(--main-color);
    text-decoration: none;  
}
footer .banner{ 
 color: var(--main-color);
display: flex;
flex-direction: row;
padding-top: 30px;
}
.footer_box_thri h2{
    padding-bottom: 10px;
}
.footer_box_thri a{
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer_box_thri{
    color: var(--main-color);
}

.footer_box_one p{ 
    padding-right: 30px;
    color: var(--fourth-color);
}








@media (min-width: 870px) {
    .benefits{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .benefits{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}



    