@import url('https://fonts.googleapis.com/css2?family=DotGothic16:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
main {
    max-width: 980px;
    margin: auto;
}

header .menu a {
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(151, 144, 151);
    padding: 3px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    flex-direction: row;
}
.header-bottom {
    box-sizing: content-box;
    padding: 15px 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: rgb(8, 8, 8)     
}
header .banner {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    flex-direction: row;
}
header .home{
    background-image: url(../img/logo.jpg);
    background-size: cover;
    display: flex;
    width: 210px;
    height: 49px;
   
}
.products-list {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 3fr 3fr;
}
.text img{
    background-image: url(../img/222.jfif);
    background-size: cover;
    background-position: center;
    min-height: 780px;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    max-width: 980px;
    margin: auto;
}
.title {
    color: var(--accent-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.title p{
    font-size: 124px;
    color: black;
}
.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.7s;
    background-color: red ;
}

.button:hover {
    color: #fdfdfd;
    background-color: black;
    cursor: pointer;
}
.box {
 display: grid ;
 grid-template-columns: 1fr 1fr 1fr;
 padding: 80px;
 grid-gap: 30px;
 justify-content: center;   
}
.box_1 {
 background-image: url(../img/new_arr_1.jpg);
 background-size: cover;
 display: block;
 width: 570px;
 height: 375px;
 padding-right: 30px;
}
.box_1 p {
    font-size: 50px;
}
.box_2 {
 background-image: url(../img/new_ari.png);
 background-size: cover;
 display: block;
 width: 270px;
 height: 375px;
 
}
.box_3 {
 background-image: url(../img/new_arri.jpg);
 background-size: cover;
 display: block;
 width: 270px;
 height: 375px;
}
hr {
    height: 2px;
    width: 18%;
    background-color: #f40106;
 border: 0;
} 
.box_1 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_2 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_3 p{
 margin-top: 250px;
 margin-left: 15px;
}
.box_1 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box_2 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box_3 hr {
   margin-top: 10px;
   margin-bottom: 10px;
}
.box hr  {
 margin-left: 15px;
}
.box p{
    margin-left: 15px;
}
.box button {
    margin-left: 15px;
}
.box button {
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.7s;
    background-color: red ;
}

.box button:hover {
    color: #fdfdfd;
    background-color: black;
    cursor: pointer;
}